@font-face{
    font-family: roboto;
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: roboto;
    box-sizing: border-box;
}

:root{
    --main-color: #54b689;
    --main-text-color: white;
    --border-color: #999;
    --bio-bg-color: #1e2a3a;
    --bio-border-color: #293544;
    --about-bg-color: #111821;
}

.highlight{
    color: var(--main-color);
}

#container{
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

#about-container{
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
    padding: 4vw;
}

#bio-container{
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 5vh 2.2vw;
    border-right: 5px solid var(--bio-border-color);
}

#bio-container #welcome-text{
    font-weight: bold;
}

#bio-container h2{
    margin-bottom: 4vh;
}

#bio-container p{
    margin-bottom: 3.3vh;
}

#bio-img{
    width: 10.9375em;
    height: 10.9375em;
    border-radius: 50%;
    margin-bottom: 4vh;
}

#social-container{
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 4vh;
    padding-bottom: 4vh;
}

#social-container li{
    flex: 1 1 0;
    max-width: 4.5vw;
}

#social-container li a{
    color: var(--main-color);
    font-size: 1.875em;
}

#email-container{
    display: flex;
    justify-content: center;
}

#email-container ion-icon, #email-container a{
    flex: 1 1 0;
}

#email-container a{
    color: var(--main-text-color);
    text-decoration: none;
    max-width: 13.5vw;
}

#email-container ion-icon{
    color: var(--main-color);
    font-size: 1.25em;
    margin-right: .4vw;
    max-width: 2vw;
}

#name{
    font-size: 2.625em;
    margin-bottom: 2vh;
}

#title{
    font-size: 1.5em;
    margin-bottom: 2vh;
    font-weight: bold;
}

.description{
    max-width: 75%;
    margin-bottom: 1vh;
    line-height: 1.4;
}

#btn-project{
    font-weight: bold;
    font-size: 1em;
    color: var(--main-text-color);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    text-decoration: none;
    transition: .5s;
    margin: 4vh 0;
    padding: 2vh 1vw;
    width: 11vw;
    text-align: center;
    display: flex;
}

#btn-project:hover{
    background-color: transparent;
}

#btn-project ion-icon, #btn-project span{
    flex: 1 1 0;
}

#btn-project ion-icon{
    font-size: 1.25em;
    max-width: 1.5vw;
}

.sections-title{
    border-top: 1px solid var(--border-color);
    padding-top: 3.3vh;
    margin-bottom: 3.3vh;
    font-size: 2em;
}

#skills-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.skills-box{
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 4vh;
}

.skills-box:hover{
    background-color: #070a0e;
    border-radius: .5em;
    transition: .5s;
}

.skills-box a{
    text-decoration: none;
    color: white;
}

.skills-box i{
    font-size: 2.8125em;
    margin-right: 1vw;
}

.skills-title{
    font-size: 1.5em;
    margin-bottom: 4vh;
    font-weight: bold;
    padding-left: 1vw;
    border-left: 5px solid var(--main-color);
}

#creations-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.creations-box{
    flex: 1 1 33%;
    max-width: 100%;
    margin-bottom: 4vh;
}

@media(max-width: 450px){
    #container{
        flex-direction: column;
    }

    #social-container{
        margin-top: 3vh;
    }
    
    #social-container li{
        max-width: 20%;
    }
    
    #email-container a{
        max-width: none;
        margin-right: 20vw;
    }
    
    #email-container ion-icon{
        max-width: none;
        margin-left: 15vw;
    }

    #bio-container{
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

    #bio-container h2{
        display: none;
    }

    #bio-container p{
        max-width: 60%;
        margin: 1vh auto;
        line-height: 1.5;
    }

    #about-container{
        text-align: center;
        padding: 7vw;
    }

    .description{
        margin: 1vh auto;
        max-width: 100%;
        line-height: 1.625em;
    }

    #btn-project{
        margin: 2.5vh auto;
        width: 40vw;
    }
    
    #btn-project ion-icon{
        font-size: 1.25em;
        max-width: 10vw;
    }

    .skills-box{
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 6vh;
        text-align: left;
    }

    .skills-box i{
        font-size: 3.75em;
    }
}

@media (min-width: 451px) and (max-width: 1050px) {
    #btn-project{
        margin: 4vh 0;
        padding: 2vh 1vw;
        width: 20vw;
    }

    #btn-project ion-icon{
        font-size: 1.25em;
        max-width: 4vw;
    }
    
    #social-container li{
        max-width: 7vw;
    }

    #email-container a{
        max-width: 23vw;
    }

    .skills-box{
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 6vh;
        text-align: left;
    }

    .skills-box i{
        font-size: 3.75em;
    }
}